@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark;
 }
 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: ;
  --color-secondary: teal;
}

 *{
    font-family: "Fredoka", sans-serif;
 }

 li a.active{
  @apply  text-purple-400 pt-2 text-xl font-semibold
 }

 .headerFont{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }